Repository mkwatson/ai-fastify-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, type-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^(turbo\.json|tsconfig.*\.json)$
      - id: check-added-large-files
        args: ['--maxkb=1024'] # 1MB limit, replacing check-file-size.js
      - id: check-merge-conflict
      - id: check-case-conflict

  # GitLeaks security scanning
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'pnpm lint:fix'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: type-check
        name: TypeScript Check
        entry: bash -c 'pnpm type-check'
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Pre-push hooks - run full CI validation
  - repo: local
    hooks:
      - id: ci-validation
        name: 'CI Validation (Must Pass Before Push)'
        entry: bash -c 'echo "üîç Running full CI validation before push (this will build and test like CI)..." && pnpm ci:simulate'
        language: system
        always_run: true
        pass_filenames: false
        stages: [push]
        verbose: true

debug(ci): add build output debugging to diagnose declaration file generation
  .github/workflows/ci.yml
Due: none

fix(build): resolve CI/local TypeScript module resolution mismatch
  .github/workflows/ci.yml
  apps/backend-api/tsconfig.build.json
  package.json
  packages/config/.tsbuildinfo
  packages/config/package.json
  packages/config/tsconfig.build.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/tsconfig.build.json
Due: none

fix(ci): add GitHub token permissions for PR comments
  .github/workflows/test-config-validation.yml
Due: none

refactor: simplify git hooks from pre-commit framework to minimal Husky setup
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/pre-push
  .pre-commit-config.yaml
  apps/backend-api/openapi.json
  docs/ARCHITECTURE.md
  docs/CI_SETUP_GUIDE.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/RUST_PATTERNS_ANALYSIS.md
  package.json
  packages/types/.husky/pre-commit
  packages/types/.tsbuildinfo
  packages/types/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: add final migration artifacts and documentation
  .claude/commands/code-review.md
  .claude/commands/start-ticket.md
  .github/pull_request_template.md
  .github/workflows/test-config-validation.yml
  .husky/pre-commit
  AGENTS.md
  CLAUDE.md
  apps/backend-api/openapi.json
  docs/CONFIG_MANAGEMENT.md
  package.json
  packages/types/.tsbuildinfo
  scripts/benchmark-performance.js
  scripts/validate-vitest-configs.js
  turbo.json
  vitest.base.config.ts
  vitest.config.ts
  vitest.mutation.config.ts
Due: eslint, type-check

fix: address code review feedback for Nx migration
  .github/pull_request_template.md
  CLAUDE.md
  apps/backend-api/openapi.json
  docs/CONFIG_MANAGEMENT.md
  scripts/benchmark-performance.js
  scripts/validate-vitest-configs.js
  vitest.base.config.ts
  vitest.mutation.config.ts
Due: eslint, type-check

fix: resolve CI failures by adding tsx loader to config validation
  package.json
  scripts/benchmark-performance.js
  scripts/validate-vitest-configs.js
Due: eslint

fix: add tsx loader to GitHub workflow for config validation
  .github/workflows/test-config-validation.yml
Due: none

fix: remove duplicate GitLeaks scan from test workflow
  .github/workflows/test-config-validation.yml
Due: none

fix: update OpenAPI generation script to use dist directory
  apps/backend-api/scripts/generate-openapi-build.js
Due: eslint

fix: calculate test duration correctly in GitHub workflow comment
  .github/workflows/test-config-validation.yml
Due: none

fix: correct job name in test config validation workflow
  .github/workflows/test-config-validation.yml
Due: none

refactor: eliminate workflow duplications and optimize CI
  .github/actions/setup-project/action.yml
  .github/workflows/ci.yml
  .github/workflows/sdk-generation.yml
  .github/workflows/test-config-validation.yml
Due: none

improvement: add file existence validation to OpenAPI script
  apps/backend-api/scripts/generate-openapi-build.js
Due: eslint

fix: update OpenAPI generation script to use dist directory (#85)
  .github/actions/setup-project/action.yml
  .github/workflows/ci.yml
  .github/workflows/sdk-generation.yml
  .github/workflows/test-config-validation.yml
  apps/backend-api/scripts/generate-openapi-build.js
Due: eslint

feat(claude-code): add comprehensive hooks for AI-first development workflow
  .claude-code/settings.json
Due: none

improvement: enhance Claude Code hooks based on code review
  .claude-code/README.md
  .claude-code/settings.json
  .github/actions/setup-project/action.yml
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  package.json
  scripts/validate-claude-hooks.js
Due: eslint

improvement: implement code review suggestions for Claude Code hooks
  .claude-code/METRICS.md
  .claude-code/README.md
  .claude-code/settings.json
  .gitignore
  AGENTS.md
  scripts/validate-claude-hooks.js
Due: eslint

fix: migrate hooks configuration to correct .claude directory
  .claude-code/METRICS.md
  .claude-code/README.md
  .claude/settings.json
Due: none

improvement: remove unnecessary Claude hooks validation script
  package.json
  scripts/validate-claude-hooks.js
Due: eslint

feat(claude-code): add comprehensive hooks for AI-first development workflow (#86)
  .claude/settings.json
  .github/actions/setup-project/action.yml
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
Due: none

feat(env): extend environment configuration for MVP variables (MAR-74)
  .claude/settings.json
  apps/backend-api/openapi.json
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/test/plugins/env.direct.test.ts
  apps/backend-api/test/plugins/env.test.ts
  mvp-requirements/__SDK MVP – Developer‑Centric Product Requirements__.md
  mvp-requirements/mvp_plan_sdk_chat.md
Due: eslint, type-check

chore: improve Claude Code hook reliability and error handling (#2)
  .claude/settings.json
Due: none

fix: add gitleaks configuration to allow test API keys
  .gitleaks.toml
Due: none

fix: configure test environment variables for CI
  apps/backend-api/.claude/settings.json
  apps/backend-api/openapi.json
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/test/plugins/env.direct.test.ts
  apps/backend-api/test/plugins/env.test.ts
  apps/backend-api/test/scripts/openapi-generation.test.ts
  apps/backend-api/test/setup.ts
  mvp-requirements/__SDK MVP – Developer‑Centric Product Requirements__.md
  mvp-requirements/mvp_plan_sdk_chat.md
  vitest.base.config.ts
Due: eslint, type-check

fix: remove Claude settings file from PR
  apps/backend-api/.claude/settings.json
Due: none

chore: update openapi.json formatting
  apps/backend-api/openapi.json
Due: none

fix: add GITLEAKS_LICENSE to CI workflow
  .github/workflows/ci.yml
Due: none

fix: add missing id field to gitleaks custom rule
  .gitleaks.toml
Due: none

feat(claude-code): simplify hooks to single Prettier formatter
  .claude/BACKUP_settings.json
  .claude/HOOKS_RESTORATION_PLAN.md
  .claude/commands/compact-before-review.md
  .claude/settings.json
Due: none

feat(claude-code): simplify hooks to single Prettier formatter
  .claude/settings.json
Due: none

feat(claude-code): simplify hooks to single Prettier formatter (#109)
  .claude/settings.json
Due: none

test: add redaction test for sensitive env values
  apps/backend-api/test/plugins/env.direct.test.ts
Due: eslint, type-check

test: add comprehensive tests for all env validation scenarios
  .env.example
  apps/backend-api/README.md
  apps/backend-api/openapi.json
  apps/backend-api/test/plugins/env.direct.test.ts
Due: eslint, type-check

style: apply prettier formatting
  apps/backend-api/README.md
  apps/backend-api/test/plugins/env.direct.test.ts
Due: eslint, type-check

refactor(env): improve JWT_SECRET validation and rate limiting defaults
  .env.example
  apps/backend-api/README.md
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/test/plugins/env.direct.test.ts
  apps/backend-api/test/plugins/env.test.ts
Due: eslint, type-check

test: add cryptographically secure JWT_SECRET generation test
  apps/backend-api/test/plugins/env.direct.test.ts
Due: eslint, type-check

fix: restore .claude/settings.json from main branch
  .claude/settings.json
Due: none

style(env): improve code formatting and structure for MAR-74
  .claude/settings.json
  apps/backend-api/openapi.json
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/test/plugins/env.test.ts
Due: eslint, type-check
