Repository mkwatson/ai-fastify-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-prettier-fix, typescript-check, security-audit

eslint-prettier-fix:
  name: üé® ESLint + Prettier (Auto-fix)
  description: Lint and format TypeScript/JavaScript files
  entry: pnpm lint:fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-check:
  name: üî∑ TypeScript Check
  description: Validate TypeScript types
  entry: pnpm type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-audit:
  name: üõ°Ô∏è Security Audit
  description: Check for known vulnerabilities
  entry: pnpm ai:security
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(architecture): implement dependency-cruiser import graph guard (MAR-18)
  .dependency-cruiser.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/check-file-size.js
  scripts/ci-doctor.js
  scripts/test-dependency-rules.js
Due: eslint-prettier-fix, security-audit

feat(architecture): implement dependency-cruiser import graph guard (MAR-18) (#40)
  .dependency-cruiser.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/check-file-size.js
  scripts/ci-doctor.js
  scripts/test-dependency-rules.js
Due: eslint-prettier-fix, security-audit

feat(turbo): implement comprehensive TurboRepo pipeline with fail-fast dependencies
  apps/backend-api/.prettierignore
  apps/backend-api/package.json
  package.json
  turbo.json
Due: security-audit

docs(turbo): add comprehensive inline documentation and performance benchmarks
  turbo.json
Due: none

fix(turbo): remove fragile cd ../.. pattern from backend-api mutation script
  apps/backend-api/package.json
Due: security-audit

fix(turbo): standardize Node.js and pnpm version requirements across packages
  apps/backend-api/package.json
Due: security-audit

feat(turbo): implement comprehensive TurboRepo pipeline with fail-fast dependencies (MAR-20) (#41)
  apps/backend-api/.prettierignore
  apps/backend-api/package.json
  package.json
  turbo.json
Due: security-audit

feat(config): add minimal config package with server utilities
  apps/backend-api/package.json
  apps/backend-api/src/server.ts
  packages/config/.prettierignore
  packages/config/package.json
  packages/config/src/environment.ts
  packages/config/src/index.ts
  packages/config/src/server-config.ts
  packages/config/test/environment.test.ts
  packages/config/test/server-config.test.ts
  packages/config/tsconfig.json
  packages/config/vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

feat(turbo): implement smart pipeline with selective task execution (MAR-41)
  eslint.config.js
  package.json
  packages/config/src/server-config.ts
  pnpm-lock.yaml
  scripts/smart-turbo.js
Due: eslint-prettier-fix, typescript-check, security-audit

fix(security): add input validation and tests for smart-turbo.js
  scripts/smart-turbo.js
  test/scripts/smart-turbo.test.js
Due: eslint-prettier-fix

enhance(smart-turbo): implement modular architecture with advanced features
  scripts/lib/config.js
  scripts/lib/git-operations.js
  scripts/lib/performance.js
  scripts/smart-turbo.js
  test/scripts/lib/config.test.js
  test/scripts/lib/git-operations.test.js
  test/scripts/lib/performance.test.js
  test/scripts/smart-turbo.test.js
Due: eslint-prettier-fix

fix(turbo): add ^build dependency to type-check task
  turbo.json
Due: none

feat(turbo): implement smart pipeline with selective task execution (MAR-41) (#48)
  apps/backend-api/package.json
  apps/backend-api/src/server.ts
  eslint.config.js
  package.json
  packages/config/.prettierignore
  packages/config/package.json
  packages/config/src/environment.ts
  packages/config/src/index.ts
  packages/config/src/server-config.ts
  packages/config/test/environment.test.ts
  packages/config/test/server-config.test.ts
  packages/config/tsconfig.json
  packages/config/vitest.config.ts
  pnpm-lock.yaml
  scripts/lib/config.js
  scripts/lib/git-operations.js
  scripts/lib/performance.js
  scripts/smart-turbo.js
  test/scripts/lib/config.test.js
  test/scripts/lib/git-operations.test.js
  test/scripts/lib/performance.test.js
  test/scripts/smart-turbo.test.js
  turbo.json
Due: eslint-prettier-fix, typescript-check, security-audit

docs(accuracy): fix command references and version requirements across all documentation
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

docs(all): complete AI-first paradigm documentation updates
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

docs: clarify AI vs automated tooling roles and SDK generation value
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

docs(readme): add "Why AI Development Needs Different Constraints" section
  README.md
Due: none

docs(accuracy): Fix command references and version requirements across all documentation (MAR-23) (#55)
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

feat(docs): add custom Claude slash commands and documentation (MAR-53)
  .claude/commands/code-review.md
  .claude/commands/get-in-progress-ticket.md
  .claude/commands/get-next-ticket.md
  .claude/commands/start-ticket.md
  docs/DEVELOPMENT.md
Due: none

docs(development): add scientific optimization framework for slash commands
  docs/DEVELOPMENT.md
Due: none

feat(docs): add custom Claude slash commands and documentation (MAR-53) (#57)
  .claude/commands/code-review.md
  .claude/commands/get-in-progress-ticket.md
  .claude/commands/get-next-ticket.md
  .claude/commands/start-ticket.md
  docs/DEVELOPMENT.md
Due: none

feat(sdk): implement Fern SDK generation with OpenAPI integration (MAR-19)
  SDK_IMPLEMENTATION_SUMMARY.md
  apps/backend-api/openapi.json
  apps/backend-api/package.json
  apps/backend-api/scripts/generate-openapi-build.js
  apps/backend-api/scripts/generate-openapi.js
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/src/plugins/swagger.ts
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  fern/README.md
  fern/definition/api.yml
  fern/fern.config.json
  fern/generators.yml
  package.json
  packages/sdk/README.md
  pnpm-lock.yaml
  turbo.json
Due: eslint-prettier-fix, typescript-check, security-audit

feat(sdk): implement comprehensive Fern SDK generation with enterprise-grade quality
  .claude/commands/code-review.md
  .claude/commands/get-in-progress-ticket.md
  .claude/commands/get-next-ticket.md
  .claude/commands/start-ticket.md
  .github/workflows/sdk-generation.yml
  apps/backend-api/openapi.json
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  apps/backend-api/test/integration/sdk-integration.test.ts
  apps/backend-api/test/plugins/swagger.test.ts
  apps/backend-api/test/routes/example.test.ts
  apps/backend-api/test/routes/example.unit.test.ts
  apps/backend-api/test/scripts/openapi-generation.test.ts
  docs/SDK_VERSIONING_STRATEGY.md
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  scripts/sdk-generate.sh
Due: eslint-prettier-fix, typescript-check, security-audit

fix: exclude openapi.json from Prettier formatting
  apps/backend-api/.prettierignore
Due: none

fix(swagger): use placeholder contact info for template safety
  apps/backend-api/openapi.json
  apps/backend-api/src/plugins/swagger.ts
  apps/backend-api/test/plugins/swagger.test.ts
Due: eslint-prettier-fix, typescript-check

feat(sdk): implement Fern SDK generation with OpenAPI integration (MAR-19) (#59)
  .claude/commands/code-review.md
  .claude/commands/get-in-progress-ticket.md
  .claude/commands/get-next-ticket.md
  .claude/commands/start-ticket.md
  .github/workflows/sdk-generation.yml
  SDK_IMPLEMENTATION_SUMMARY.md
  apps/backend-api/.prettierignore
  apps/backend-api/openapi.json
  apps/backend-api/package.json
  apps/backend-api/scripts/generate-openapi-build.js
  apps/backend-api/scripts/generate-openapi.js
  apps/backend-api/src/plugins/env.ts
  apps/backend-api/src/plugins/swagger.ts
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  apps/backend-api/test/integration/sdk-integration.test.ts
  apps/backend-api/test/plugins/swagger.test.ts
  apps/backend-api/test/routes/example.test.ts
  apps/backend-api/test/routes/example.unit.test.ts
  apps/backend-api/test/scripts/openapi-generation.test.ts
  docs/SDK_VERSIONING_STRATEGY.md
  fern/README.md
  fern/definition/api.yml
  fern/fern.config.json
  fern/generators.yml
  package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/README.md
  packages/sdk/package.json
  pnpm-lock.yaml
  scripts/sdk-generate.sh
  turbo.json
Due: eslint-prettier-fix, typescript-check, security-audit

docs: remove specific mutation testing percentages from claims
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

docs: remove specific mutation testing percentages from claims (#60)
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

docs: implement code review improvements for performance claims removal
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  stryker.config.mjs
Due: none

docs: finalize performance claims abstraction based on code review
  AGENTS.md
  README.md
Due: none

docs: add reference to configuration files for current thresholds
  docs/CONTRIBUTING.md
Due: none

docs: remove specific performance claims from documentation (MAR-63) (#70)
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  stryker.config.mjs
Due: none

docs: improve Linear project assignment guidance and add Rust patterns analysis
  AGENTS.md
  README.md
  docs/RUST_PATTERNS_ANALYSIS.md
Due: none

docs: improve Linear project assignment guidance and add Rust patterns analysis (#74)
  AGENTS.md
  README.md
  docs/RUST_PATTERNS_ANALYSIS.md
Due: none

feat(types): implement branded types for compile-time ID safety (MAR-59)
  AGENTS.md
  packages/types/package.json
  packages/types/src/brand.ts
  packages/types/src/entity-ids.ts
  packages/types/src/index.ts
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/test/brand.test.ts
  packages/types/test/entity-ids.test.ts
  packages/types/test/validators.test.ts
  packages/types/test/zod-integration.test.ts
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
Due: eslint-prettier-fix, typescript-check, security-audit

feat(core): implement Result/Option types for explicit error handling (MAR-55)
  AGENTS.md
  apps/backend-api/openapi.json
  apps/backend-api/package.json
  apps/backend-api/src/routes/users-example.ts
  apps/backend-api/src/services/user-service-example.ts
  apps/backend-api/src/utils/result.ts
  apps/backend-api/src/utils/validators-result.ts
  apps/backend-api/test/services/user-service-example.test.ts
  apps/backend-api/test/utils/result.test.ts
  apps/backend-api/test/utils/validators-result.test.ts
  docs/RESULT_MIGRATION_GUIDE.md
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
Due: eslint-prettier-fix, typescript-check, security-audit

fix: resolve linting issues and import errors
  apps/backend-api/src/routes/users-example.ts
  apps/backend-api/src/services/user-service-example.ts
  apps/backend-api/src/utils/result.ts
  apps/backend-api/src/utils/validators-result.ts
  apps/backend-api/test/services/user-service-example.test.ts
  apps/backend-api/test/utils/result.test.ts
  apps/backend-api/test/utils/validators-result.test.ts
  eslint-plugin-ai-patterns.cjs
  pnpm-lock.yaml
Due: eslint-prettier-fix, typescript-check, security-audit

fix: resolve TypeScript compilation and linting errors
  apps/backend-api/src/routes/users-example.ts
  apps/backend-api/src/services/user-service-example.ts
  apps/backend-api/src/utils/result.ts
  apps/backend-api/src/utils/validators-result.ts
Due: eslint-prettier-fix, typescript-check

feat(testing): implement comprehensive property-based testing framework (MAR-56)
  AGENTS.md
  apps/backend-api/openapi.json
  apps/backend-api/src/routes/users/index.ts
  apps/backend-api/test/model-based/user-api.model.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/validators.test.ts
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/model-based-testing.ts
  pnpm-lock.yaml
Due: eslint-prettier-fix, typescript-check, security-audit

Path conditions:
  eslint-prettier-fix: any of: \.(ts|js|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  typescript-check: any of: \.(ts|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  security-audit: any of: package\.json$|pnpm-lock\.yaml$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

