Repository mkwatson/ai-fastify-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-prettier-fix, typescript-check, security-audit

Path conditions:
  eslint-prettier-fix: any of: \.(ts|js|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  typescript-check: any of: \.(ts|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  security-audit: any of: package\.json$|pnpm-lock\.yaml$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$


fix(hooks): temporarily disable conventional commit validation due to v4.0.0 parsing bug - all other hooks working perfectly
  .pre-commit-config.yaml
  apps/backend-api/test/plugins/env.test.ts
Due: eslint-prettier-fix, typescript-check

test: validate local commitizen check hook
  .pre-commit-config.yaml
Due: none

feat: add commitizen for conventional commit validation
  .pre-commit-config.yaml
  package.json
  pnpm-lock.yaml
Due: security-audit

invalid commit message format
  test.txt
Due: none

test: validate updated commitizen hook configuration
  .pre-commit-config.yaml
Due: none

fix: clean up commitizen hook configuration
  .pre-commit-config.yaml
Due: none

invalid commit message format
  test-validation.txt
  test.txt
Due: none

docs: document commit message validation issues and workarounds
  .pre-commit-config.yaml
  test-validation.txt
Due: none

feat(config): migrate to JSON configuration for better enterprise compatibility
  .commitlintrc.json
  .pre-commit-config.yaml
Due: none

test(config): validate JSON configuration is working correctly
  test-commitlint.txt
Due: none

chore: clean up test files after successful JSON config implementation
  test-commitlint.txt
Due: none

feat(ci): implement enterprise-grade conventional commit validation
  .commitlintrc.json
  .pre-commit-config.yaml
Due: none

feat(ci): implement code review improvements for commitlint setup
  docs/DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
Due: security-audit

feat(ci): Enterprise-Grade Conventional Commit Validation (#19)
  .commitlintrc.json
  .pre-commit-config.yaml
  docs/DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
Due: security-audit

fix: implement security-safe file size formatting (refs MAR-16)
  apps/backend-api/src/utils/calculations.ts
  apps/backend-api/src/utils/formatters.ts
  apps/backend-api/src/utils/index.ts
  apps/backend-api/src/utils/validators.ts
  apps/backend-api/test/helper.ts
  apps/backend-api/test/plugins/env.test.ts
  apps/backend-api/test/plugins/support.test.ts
  apps/backend-api/test/routes/example.test.ts
  apps/backend-api/test/routes/root.test.ts
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/validators.test.ts
Due: eslint-prettier-fix, typescript-check

feat: add missing vitest.config.ts and final documentation updates (refs MAR-16)
  AGENTS.md
  README.md
  package.json
  turbo.json
  vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

refactor(ci): migrate from pre-commit framework to husky + lint-staged
  .husky/pre-commit
  .pre-commit-config.yaml
  AGENTS.md
  apps/backend-api/package.json
  docs/DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
Due: security-audit

feat: complete MAR-16 Vitest testing infrastructure - all 73 tests passing, 78.19% coverage, quality gates integrated
  .husky/pre-commit
  AGENTS.md
  apps/backend-api/package.json
  apps/backend-api/src/plugins/sensible.ts
  apps/backend-api/src/plugins/support.ts
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  apps/backend-api/src/server.ts
  apps/backend-api/src/utils/calculations.ts
  apps/backend-api/src/utils/formatters.ts
  apps/backend-api/src/utils/validators.ts
  apps/backend-api/test/helper.ts
  apps/backend-api/test/routes/example.test.ts
  apps/backend-api/test/routes/root.test.ts
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/validators.test.ts
  audit-ci.json
  docs/SECURITY_MIGRATION.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

[MAR-16] Implement Comprehensive Vitest Testing Infrastructure (#20)
  .husky/pre-commit
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  apps/backend-api/package.json
  apps/backend-api/src/plugins/sensible.ts
  apps/backend-api/src/plugins/support.ts
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  apps/backend-api/src/server.ts
  apps/backend-api/src/utils/calculations.ts
  apps/backend-api/src/utils/formatters.ts
  apps/backend-api/src/utils/index.ts
  apps/backend-api/src/utils/validators.ts
  apps/backend-api/test/helper.ts
  apps/backend-api/test/plugins/env.test.ts
  apps/backend-api/test/plugins/support.test.ts
  apps/backend-api/test/routes/example.test.ts
  apps/backend-api/test/routes/root.test.ts
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/validators.test.ts
  audit-ci.json
  docs/DEVELOPMENT.md
  docs/SECURITY_MIGRATION.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
  vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

feat: implement enterprise-grade testing infrastructure (refs MAR-17)
  .gitleaksignore
  AGENTS.md
  AGENTS_TEST.md
  apps/backend-api/test/README.md
  apps/backend-api/test/utils/calculations.test.ts
  docs/TESTING_COOKBOOK.md
  docs/TEST_PATTERNS.md
  package.json
  pnpm-lock.yaml
  stryker.config.mjs
Due: eslint-prettier-fix, typescript-check, security-audit

feat: add mutation testing to turbo pipeline (refs MAR-17)
  turbo.json
Due: none

fix(testing): resolve Stryker mutation testing configuration issues
  AGENTS.md
  AGENTS_TEST.md
  apps/backend-api/test/README.md
  apps/backend-api/test/utils/calculations.test.ts
  docs/ENTERPRISE_ROADMAP.md
  docs/TESTING_COOKBOOK.md
  docs/TEST_PATTERNS.md
  package.json
  pnpm-lock.yaml
  reports/mutation/mutation.html
  stryker.config.mjs
  vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

fix(testing): resolve Stryker mutation testing configuration issues
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.gitignore
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.nvmrc
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/package.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/app.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/env.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/sensible.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/support.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/example/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/root.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/server.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/calculations.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/formatters.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/validators.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/helper.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/env.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/support.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/example.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/root.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/calculations.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/formatters.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/validators.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/vitest.config.ts
  apps/backend-api/src/utils/formatters.ts
  apps/backend-api/test/plugins/env.direct.test.ts
  apps/backend-api/test/plugins/env.test.ts
  apps/backend-api/test/plugins/sensible.unit.test.ts
  apps/backend-api/test/routes/example.unit.test.ts
  apps/backend-api/test/routes/root.unit.test.ts
Due: eslint-prettier-fix, typescript-check, security-audit

refactor(testing): remove unnecessary technical debt documentation
  .gitignore
  TECHNICAL_DEBT.md
  stryker.config.mjs
Due: none

fix(testing): resolve mutation testing dead code and enhance documentation
  AGENTS.md
  apps/backend-api/src/utils/validators.ts
  apps/backend-api/test/utils/validators.test.ts
  docs/MUTATION_TESTING_GUIDE.md
  docs/templates/stryker.config.template.mjs
Due: eslint-prettier-fix, typescript-check

fix(testing): implement hybrid mutation report strategy
  .gitignore
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.gitignore
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.nvmrc
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/package.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/app.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/env.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/sensible.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/support.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/example/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/root.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/server.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/calculations.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/formatters.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/validators.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/helper.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/env.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/support.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/example.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/root.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/calculations.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/formatters.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/validators.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/vitest.config.ts
  reports/README.md
  reports/mutation/mutation.html
Due: eslint-prettier-fix, typescript-check, security-audit

fix(testing): implement hybrid mutation report strategy (#32)
  .gitignore
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.gitignore
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/.nvmrc
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/package.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/app.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/env.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/sensible.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/plugins/support.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/example/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/routes/root.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/server.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/calculations.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/formatters.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/index.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/src/utils/validators.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/README.md
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/helper.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/env.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/plugins/support.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/example.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/routes/root.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/calculations.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/formatters.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/test/utils/validators.test.ts
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/tsconfig.json
  apps/backend-api/.stryker-tmp/sandbox-0zDicF/vitest.config.ts
  reports/README.md
  reports/mutation/mutation.html
Due: eslint-prettier-fix, typescript-check, security-audit

fix(security): implement enterprise-grade GitLeaks installation and pre-commit integration
  .gitleaksignore
  .husky/pre-commit
  README.md
  package.json
  scripts/install-gitleaks.sh
Due: security-audit

fix(security): implement enterprise-grade GitLeaks installation and pre-commit integration (MAR-37) (#33)
  .gitleaksignore
  .husky/pre-commit
  README.md
  package.json
  scripts/install-gitleaks.sh
Due: security-audit

chore: cleanup obsolete documentation and preserve institutional knowledge
  AGENTS_TEST.md
  docs/archive/LEARNINGS.md
  plan.md
Due: none

chore: cleanup obsolete documentation and preserve institutional knowledge (#34)
  AGENTS_TEST.md
  docs/archive/LEARNINGS.md
  plan.md
Due: none

feat(ci): implement enterprise-grade GitHub Actions CI pipeline (MAR-21)
  .actrc
  .github/workflows/ci.yml
  .husky/pre-commit
  .nvmrc
  docs/CI_SETUP_GUIDE.md
  package.json
  scripts/ci-doctor.js
Due: eslint-prettier-fix, security-audit

fix(ci): remove npm cache from Node.js setup to fix pnpm workflow
  .github/workflows/ci.yml
Due: none

fix(ci): resolve pnpm version mismatch in GitHub Actions
  .github/workflows/ci.yml
  package.json
Due: security-audit

feat(ci): Enterprise-Grade GitHub Actions CI Pipeline (MAR-21) (#37)
  .actrc
  .github/workflows/ci.yml
  .husky/pre-commit
  .nvmrc
  docs/CI_SETUP_GUIDE.md
  package.json
  scripts/ci-doctor.js
Due: eslint-prettier-fix, security-audit

fix(ci): cross-platform compatibility and version parsing fixes (MAR-40)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/check-file-size.js
  scripts/check-file-size.test.js
  scripts/ci-doctor.js
  scripts/ci-doctor.test.js
Due: eslint-prettier-fix, security-audit

fix(ci): cross-platform compatibility and version parsing fixes (MAR-40) (#39)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/check-file-size.js
  scripts/check-file-size.test.js
  scripts/ci-doctor.js
  scripts/ci-doctor.test.js
Due: eslint-prettier-fix, security-audit
