Repository mkwatson/ai-fastify-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-prettier-fix, typescript-check, security-audit

eslint-prettier-fix:
  name: üé® ESLint + Prettier (Auto-fix)
  description: Lint and format TypeScript/JavaScript files
  entry: pnpm lint:fix
  language: system
  pass_filenames: false
  stages:
  - pre-commit

typescript-check:
  name: üî∑ TypeScript Check
  description: Validate TypeScript types
  entry: pnpm type-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

security-audit:
  name: üõ°Ô∏è Security Audit
  description: Check for known vulnerabilities
  entry: pnpm ai:security
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: resolve critical issues from code review
  eslint.config.js
  packages/types/package.json
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/test/brand.test.ts
  packages/types/test/entity-ids.test.ts
  packages/types/test/validators.test.ts
  packages/types/test/zod-integration.test.ts
Due: eslint-prettier-fix, typescript-check, security-audit

fix(workflow): resolve schema validation errors and improve local testing
  AGENTS.md
  apps/backend-api/src/routes/users-example.ts.disabled
  package.json
Due: security-audit

fix: resolve CI linting failure and add local validation
  package.json
  packages/config/src/server-config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

docs: add critical CI validation workflow to prevent failures
  CLAUDE.md
Due: none

fix(testing): resolve property-based testing runtime issues (MAR-56)
  apps/backend-api/scripts/generate-openapi.js
  apps/backend-api/temp_delete_test.js
  apps/backend-api/test/model-based/user-api.model.test.ts
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  packages/config/src/model-based-testing.ts
Due: eslint-prettier-fix, typescript-check

fix: resolve test failure and improve CI validation coverage
  CLAUDE.md
  apps/backend-api/openapi.json
  package.json
  packages/config/src/server-config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

fix(tests): resolve test failures and enhance local development workflow
  AGENTS.md
  apps/backend-api/openapi.json
  apps/backend-api/src/services/user-service-example.ts
  apps/backend-api/src/utils/validators-result.ts
  apps/backend-api/test/services/user-service-example.test.ts
  apps/backend-api/test/utils/validators-result.test.ts
  docs/RESULT_MIGRATION_GUIDE.md
  eslint-plugin-ai-patterns.cjs
Due: eslint-prettier-fix, typescript-check

feat(types): implement branded types for compile-time ID safety (MAR-59) (#75)
  AGENTS.md
  CLAUDE.md
  apps/backend-api/openapi.json
  eslint.config.js
  package.json
  packages/config/src/server-config.ts
  packages/types/package.json
  packages/types/src/brand.ts
  packages/types/src/entity-ids.ts
  packages/types/src/index.ts
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/test/brand.test.ts
  packages/types/test/entity-ids.test.ts
  packages/types/test/validators.test.ts
  packages/types/test/zod-integration.test.ts
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
Due: eslint-prettier-fix, typescript-check, security-audit

fix(types): add explicit type annotation to transform callback
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/RUST_PATTERNS_ANALYSIS.md
  docs/SECURITY_MIGRATION.md
  packages/types/src/zod-integration.ts
Due: eslint-prettier-fix, typescript-check

feat(config): implement minimal TypeScript safety configuration
  apps/backend-api/scripts/generate-openapi-build.js
  apps/backend-api/scripts/generate-openapi.js
  apps/backend-api/src/plugins/sensible.ts
  apps/backend-api/src/plugins/support.ts
  apps/backend-api/src/routes/example/index.ts
  apps/backend-api/src/routes/root.ts
  apps/backend-api/src/server.ts
  apps/backend-api/src/utils/formatters.ts
  apps/backend-api/test/integration/sdk-integration.test.ts
  apps/backend-api/test/plugins/sensible.unit.test.ts
  apps/backend-api/test/tsconfig.json
  apps/backend-api/tsconfig.json
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  eslint.config.old.js
  package.json
  packages/config/src/server-config.ts
  packages/config/tsconfig.json
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: eslint-prettier-fix, typescript-check, security-audit

fix(config): resolve TypeScript project service and ESLint configuration issues
  apps/backend-api/openapi.json
  apps/backend-api/tsconfig.json
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  packages/config/.tsbuildinfo
  packages/config/test/tsconfig.json
  packages/config/tsconfig.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/src/brand.ts
  packages/types/src/entity-ids.ts
  packages/types/src/index.ts
  packages/types/test/brand.test.ts
  packages/types/test/entity-ids.test.ts
  packages/types/test/tsconfig.json
  packages/types/test/validators.test.ts
  packages/types/test/zod-integration.test.ts
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: eslint-prettier-fix, typescript-check, security-audit

fix(packages): resolve workspace type resolution and TypeScript issues
  apps/backend-api/src/server.ts
  packages/config/package.json
  packages/types/package.json
Due: eslint-prettier-fix, typescript-check, security-audit

chore: add TypeScript build cache to gitignore and format OpenAPI spec
  .gitignore
  apps/backend-api/openapi.json
Due: none

fix: resolve CI test failures for OpenAPI generation and update ci:check command
  apps/backend-api/scripts/generate-openapi-build.js
  package.json
Due: eslint-prettier-fix, security-audit

fix: finalize ESLint configuration for proper config file handling
  eslint.config.js
  tsconfig.json
Due: eslint-prettier-fix

refactor: simplify CI validation by removing fragile test and optimizing workflow
  .husky/pre-commit
  apps/backend-api/test/scripts/openapi-generation.test.ts
  package.json
Due: eslint-prettier-fix, typescript-check, security-audit

feat(testing): implement comprehensive property-based testing framework (MAR-56)
  .claude/commands/code-review.md
  .claude/commands/start-ticket.md
  AGENTS.md
  apps/backend-api/test/utils/enhanced-property-tests.test.ts
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  packages/types/.tsbuildinfo
  packages/types/src/api-fuzzing.ts
  packages/types/src/index.ts
  packages/types/src/model-based-testing.ts
  packages/types/src/property-testing.ts
Due: eslint-prettier-fix, typescript-check

refactor(testing): implement simplified property-based testing framework
  .eslintignore
  AGENTS.md
  apps/backend-api/test/utils/enhanced-property-tests.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/simple-property-tests.test.ts
  apps/backend-api/test/utils/validators.test.ts
  eslint-plugin-ai-patterns.cjs
  examples/property-testing/business-logic.example.ts
  examples/property-testing/financial-functions.example.ts
  examples/property-testing/validation-functions.example.ts
  examples/tsconfig.json
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/model-based-testing.ts
  packages/types/src/property-testing-simple.ts
  packages/types/test/validators.test.ts
  tsconfig.json
Due: eslint-prettier-fix, typescript-check, security-audit

feat(validation): implement comprehensive local validation pipeline to prevent CI failures
  .claude/commands/compact-before-review.md
  .eslintignore
  AGENTS.md
  README.md
  apps/backend-api/package.json
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/enhanced-property-tests.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/simple-property-tests.test.ts
  apps/backend-api/test/utils/validators.test.ts
  docs/LOCAL_VALIDATION_GUIDE.md
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  examples/property-testing/business-logic.example.ts
  examples/property-testing/financial-functions.example.ts
  examples/property-testing/validation-functions.example.ts
  examples/tsconfig.json
  packages/types/.tsbuildinfo
  packages/types/src/api-fuzzing.ts
  packages/types/src/model-based-testing.ts
  packages/types/src/property-testing-simple.ts
  packages/types/src/property-testing.ts
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/test/validators.test.ts
  pnpm-lock.yaml
  scripts/safe-commit.sh
Due: eslint-prettier-fix, typescript-check, security-audit

feat(testing): implement comprehensive property-based testing framework (MAR-56) (#79)
  .claude/commands/code-review.md
  .claude/commands/compact-before-review.md
  .claude/commands/start-ticket.md
  AGENTS.md
  README.md
  apps/backend-api/package.json
  apps/backend-api/test/utils/calculations.test.ts
  apps/backend-api/test/utils/enhanced-property-tests.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/simple-property-tests.test.ts
  apps/backend-api/test/utils/validators.test.ts
  docs/LOCAL_VALIDATION_GUIDE.md
  eslint-plugin-ai-patterns.cjs
  eslint.config.js
  examples/property-testing/business-logic.example.ts
  examples/property-testing/financial-functions.example.ts
  examples/property-testing/validation-functions.example.ts
  examples/tsconfig.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/src/api-fuzzing.ts
  packages/types/src/index.ts
  packages/types/src/model-based-testing.ts
  packages/types/src/property-testing-simple.ts
  packages/types/src/property-testing.ts
  packages/types/src/validators.ts
  packages/types/src/zod-integration.ts
  packages/types/test/validators.test.ts
  pnpm-lock.yaml
  scripts/safe-commit.sh
  tsconfig.json
Due: eslint-prettier-fix, typescript-check, security-audit

fix(lint): resolve ESLint require-await warnings in route files
  docs/LOCAL_VALIDATION_GUIDE.md
  eslint.config.js
  packages/types/.tsbuildinfo
Due: eslint-prettier-fix

feat(validation): implement zero-drift validation architecture
  .github/workflows/ci.yml
  .gitignore
  docs/LOCAL_VALIDATION_GUIDE.md
  package.json
  scripts/validation-pipeline.mjs
Due: security-audit

fix(lint): resolve ESLint require-await warnings in route files (#80)
  .github/workflows/ci.yml
  .gitignore
  docs/LOCAL_VALIDATION_GUIDE.md
  eslint.config.js
  package.json
  packages/types/.tsbuildinfo
  scripts/validation-pipeline.mjs
Due: eslint-prettier-fix, security-audit

fix: resolve CI failures and implement three-layer validation system
  .pre-commit-config.yaml
  AGENTS.md
  apps/backend-api/package.json
  apps/backend-api/vitest.config.ts
  package.json
  packages/config/package.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/test/brand.test.ts
  packages/types/test/entity-ids.test.ts
  packages/types/test/validators.test.ts
  packages/types/test/zod-integration.test.ts
  vitest.config.ts
  vitest.workspace.ts
Due: eslint-prettier-fix, typescript-check, security-audit

fix: partial TypeScript fixes and update test configurations
  apps/backend-api/package.json
  packages/types/.tsbuildinfo
  packages/types/test/brand.test.ts
  packages/types/test/zod-integration.test.ts
Due: eslint-prettier-fix, typescript-check, security-audit

fix(typescript): resolve all strict mode errors and fix vitest configuration
  apps/backend-api/package.json
  apps/backend-api/scripts/generate-openapi.js
  apps/backend-api/src/plugins/support.ts
  apps/backend-api/test/helper.ts
  apps/backend-api/test/integration/sdk-integration.test.ts
  apps/backend-api/test/plugins/env.direct.test.ts
  apps/backend-api/test/plugins/env.test.ts
  apps/backend-api/test/plugins/support.test.ts
  apps/backend-api/test/plugins/swagger.test.ts
  apps/backend-api/test/scripts/openapi-generation.test.ts
  apps/backend-api/test/utils/openapi-types.ts
  apps/backend-api/test/utils/simple-property-tests.test.ts
  apps/backend-api/test/utils/validators.test.ts
  package.json
  packages/config/package.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/test/brand.test.ts
  packages/types/test/zod-integration.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint-prettier-fix, typescript-check, security-audit

chore: format openapi.json
  apps/backend-api/openapi.json
Due: none

chore: reformat openapi.json
  apps/backend-api/openapi.json
Due: none

fix(build): resolve CI/local validation disconnect and TypeScript strict errors
  .pre-commit-config.yaml
  CLAUDE.md
  apps/backend-api/package.json
  apps/backend-api/test/utils/enhanced-property-tests.test.ts
  apps/backend-api/test/utils/formatters.test.ts
  apps/backend-api/test/utils/simple-property-tests.test.ts
  apps/backend-api/tsconfig.build.json
  package.json
  packages/config/.tsbuildinfo
  packages/config/package.json
  packages/config/tsconfig.build.json
  packages/types/.tsbuildinfo
  packages/types/package.json
  packages/types/tsconfig.build.json
Due: eslint-prettier-fix, typescript-check, security-audit

fix(build): add generated tsbuildinfo file
  apps/backend-api/openapi.json
Due: none

fix(build): update openapi.json formatting
  apps/backend-api/openapi.json
Due: none

fix(build): exclude compiled JS files from TypeScript checking to prevent CI failures
  apps/backend-api/openapi.json
  apps/backend-api/tsconfig.json
  package.json
  packages/config/.tsbuildinfo
  packages/config/tsconfig.json
  packages/types/.tsbuildinfo
  packages/types/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: security-audit

fix(typescript): explicitly disable JavaScript checking to prevent CI failures
  tsconfig.base.json
Due: none

chore: update build artifacts after JavaScript checking fix
  packages/config/.tsbuildinfo
  packages/types/.tsbuildinfo
Due: none

fix(types): ensure proper TypeScript module resolution for declaration files
  packages/types/package.json
Due: security-audit

fix(deps): resolve vitest module resolution errors in CI
  nx.json
  packages/config/package.json
  packages/types/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: security-audit

fix(ci): ensure build runs before type-check to generate declaration files
  .github/workflows/ci.yml
Due: none

fix(ci): split build and validation into explicit steps
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint-prettier-fix: any of: \.(ts|js|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  typescript-check: any of: \.(ts|mts|cts)$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

  security-audit: any of: package\.json$|pnpm-lock\.yaml$, but not: (?x)^(
  node_modules/.*|
  \.git/.*|
  \.turbo/.*|
  \.next/.*|
  \.nuxt/.*|
  dist/.*|
  build/.*|
  \.vscode/.*|
  \.idea/.*|
  coverage/.*|
  \.nyc_output/.*|
  .*\.lock$|
  .*\.log$|
  .*\.cache.*
)$

